altair==4.2.0
langdetect==1.0.9
matplotlib==3.4.3
nltk==3.6.6
numpy==1.21.0
pandas==1.3.4
Pillow==9.1.0
protoc >= 3.19.0.
scikit_learn==1.0.2
streamlit==1.8.1
streamlit_metrics==0.1.0
textblob==0.17.1
tweepy==4.8.0
wordcloud==1.8.1

# from IPython.display import display, Image
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# from nltk.stem import SnowballStemmer
# from PIL import Image
# from sklearn.feature_extraction.text import CountVectorizer
# from streamlit_metrics import metric, metric_row
# from textblob import TextBlob
# from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
# import altair as alt
# import base64
# import matplotlib.pyplot as plt
# import nltk
# import numpy as np
# import pandas as pd
# import re
# import streamlit as st
# import string
# import time
# import tweepy